@model TiendaMotores.Models.Oden_cliente

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Oden_cliente</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.num_comfirmacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.num_comfirmacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha_creacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_creacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.total)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.total)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.num_serie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.num_serie)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha_envio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_envio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha_entrega)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_entrega)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Compra.id_compra)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Compra.id_compra)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Paqueteria.nombre_paqueteria)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Paqueteria.nombre_paqueteria)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id_orden }) |
    @Html.ActionLink("Back to List", "Index")
</p>
