@model TiendaMotores.Models.Empleado

@{
    if (Session["rol"].ToString() == "Administrador")
    {
        Layout = "~/Views/Shared/_LayoutAdministracion.cshtml";
    }
    else if (Session["rol"].ToString().Equals("Reclutador"))
    {
        Layout = "~/Views/Shared/_LayoutRecursosHumanos.cshtml";

    }
    else if (Session["rol"].ToString().Equals("Empaquetador"))
    {
        Layout = "~/Views/Shared/_LayoutPaqueteria.cshtml";
    }
    else if (Session["rol"].ToString().Equals("Enviador"))
    {
        Layout = "~/Views/Shared/_LayoutEnvios.cshtml";
    }
    else if (Session["rol"].ToString().Equals("Comprador"))
    {
        Layout = "~/Views/Shared/_LayoutCompras.cshtml";

    }
    else if (Session["rol"].ToString().Equals("Vendedor"))
    {
        Layout = "~/Views/Shared/_LayoutVentas.cshtml";
    }
    else if (Session["rol"].ToString().Equals("Productor"))
    {
        Layout = "~/Views/Shared/_LayoutProduccion.cshtml";
    }
    else if (Session["rol"].ToString().Equals("Cliente"))
    {
        Layout = "~/Views/Shared/_LayoutCliente.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Eliminar empleado</title>
</head>
<body>
    <h2>Empleado</h2>
    <div>
        <h4>¿Realmente lo quieres eliminar?</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.nombre_empleado)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.nombre_empleado)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.apellido_p)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.apellido_p)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.apellido_m)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.apellido_m)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.fecha_nac)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.fecha_nac)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.estatus)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.estatus)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.salario)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.salario)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.email)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.telefono)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.telefono)
            </dd>


            <dt>
                @Html.DisplayNameFor(model => model.rfc)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.rfc)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.rol)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.rol)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.nombre_usuario)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.nombre_usuario)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.contrasenia)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.contrasenia)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Departamento.nombre_departamento)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Departamento.nombre_departamento)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Direccion.estado)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Direccion.estado)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Puesto.nombre_puesto)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Puesto.nombre_puesto)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">

                <a class="btn btn-outline-secondary" href="@Url.Action("Index")">
                    <i>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z" />
                        </svg>
                    </i>
                    Volver a la lista
                </a>
                <input type="submit" value="Eliminar" class="btn btn-danger" />
            </div>
        }
    </div>
</body>
</html>
