@model IEnumerable<TiendaMotores.Models.Producto>

@{
    ViewBag.Title = "Index";
    //clave del producto

    if (Session["rol"].ToString() == "Administrador")
    {
        Layout = "~/Views/Shared/_LayoutAdministracion.cshtml";
    }
    else if (Session["rol"].ToString().Equals("Reclutador"))
    {
        Layout = "~/Views/Shared/_LayoutRecursosHumanos.cshtml";

    }
    else if (Session["rol"].ToString().Equals("Empaquetador"))
    {
        Layout = "~/Views/Shared/_LayoutPaqueteria.cshtml";
    }
    else if (Session["rol"].ToString().Equals("Enviador"))
    {
        Layout = "~/Views/Shared/_LayoutEnvios.cshtml";
    }
    else if (Session["rol"].ToString().Equals("Comprador"))
    {
        Layout = "~/Views/Shared/_LayoutCompras.cshtml";

    }
    else if (Session["rol"].ToString().Equals("Vendedor"))
    {
        Layout = "~/Views/Shared/_LayoutVentas.cshtml";
    }
    else if (Session["rol"].ToString().Equals("Productor"))
    {
        Layout = "~/Views/Shared/_LayoutProduccion.cshtml";
    }
    else if (Session["rol"].ToString().Equals("Cliente"))
    {
        Layout = "~/Views/Shared/_LayoutCliente.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

}

<h2>Productos</h2>

<table class="table table-striped">
    <tr class="table-primary">
        <th>
            @Html.DisplayNameFor(model => model.nombre_producto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.descripcion_producto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.precio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.coste)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.imagen_producto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ultima_actualizacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.clave_unica)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Categoria.nombre_categoria)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.marca.nombre_marca)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Producto2.nombre_producto)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nombre_producto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.descripcion_producto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.coste)
            </td>
            <td>
                @*  @Html.DisplayFor(modelItem => item.imagen_producto)*@
                <img src="~/Content/Imagenes/Productos/@Html.DisplayFor(modelItem => item.imagen_producto)" width="120" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ultima_actualizacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.clave_unica)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categoria.nombre_categoria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.marca.nombre_marca)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Producto2.nombre_producto)
            </td>
        </tr>
    }

</table>
