@using TiendaMotores.Models
@{
    ViewBag.Title = "CrearOrden";
    if (Session["rol"].ToString() == "Administrador")
    {
        Layout = "~/Views/Shared/_LayoutAdministracion.cshtml";
    }
    else if (Session["rol"].ToString().Equals("Reclutador"))
    {
        Layout = "~/Views/Shared/_LayoutRecursosHumanos.cshtml";

    }
    else if (Session["rol"].ToString().Equals("Empaquetador"))
    {
        Layout = "~/Views/Shared/_LayoutPaqueteria.cshtml";
    }
    else if (Session["rol"].ToString().Equals("Enviador"))
    {
        Layout = "~/Views/Shared/_LayoutEnvios.cshtml";
    }
    else if (Session["rol"].ToString().Equals("Comprador"))
    {
        Layout = "~/Views/Shared/_LayoutCompras.cshtml";

    }
    else if (Session["rol"].ToString().Equals("Vendedor"))
    {
        Layout = "~/Views/Shared/_LayoutVentas.cshtml";
    }
    else if (Session["rol"].ToString().Equals("Productor"))
    {
        Layout = "~/Views/Shared/_LayoutProduccion.cshtml";
    }
    else if (Session["rol"].ToString().Equals("Cliente"))
    {
        Layout = "~/Views/Shared/_LayoutCliente.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    string fig = "";
    ContextoTienda db = new ContextoTienda();
    string correo = User.Identity.Name;
    var cliente = db.Cliente.FirstOrDefault(x => x.email == correo);
    String direccionCliente = "";
    int idDir = 0;
    int idCli = cliente.id_cliente;
    string fecha_nac = "";
    if (cliente.fecha_nacimiento != null)
    {
        fecha_nac = System.DateTime.Parse(cliente.fecha_nacimiento.ToString()).ToShortDateString();
    }
    if (cliente.id_direccion != null)
    {
        var direccion = db.Direccion.FirstOrDefault(x => (x.id_direccion == cliente.id_direccion));

        direccionCliente = direccion.estado + ", " + direccion.ciudad + ", " + direccion.municipio + ", " + direccion.calle_externa + " # " + direccion.num_calle_externa +
            ",  " + direccion.calle_interna + " # " + direccion.num_calle_interna + " por " + direccion.ref1 + " y " + direccion.ref2;
        idDir = direccion.id_direccion;
    }
    else
    {
        if (ViewBag.direccion != null)
        {
            idDir = Convert.ToInt32(ViewBag.direccion);
            var direccion = db.Direccion.FirstOrDefault(x => (x.id_direccion == idDir));

            direccionCliente = direccion.estado + ", " + direccion.ciudad + ", " + direccion.municipio + ", " + direccion.calle_externa + " # " + direccion.num_calle_externa +
                ",  " + direccion.calle_interna + " # " + direccion.num_calle_interna + " por " + direccion.ref1 + " y " + direccion.ref2;
            idDir = direccion.id_direccion;


        }
    }
    Session["idDir"] = idDir;
    Session["idCli"] = idCli;

}
<h2>Compra </h2>
<br />
<div class="card">
    <div class="card-header">
        <h2>Entrega</h2>
    </div>
    <div class="card-body">
        @{
            if (direccionCliente == "")
            {
                using (Html.BeginForm("CrearDir", "Direccion", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <div class="card">
                        <h5 class="card-header text-white" style="background-color: rgb(33, 43, 75)">Información personal</h5>
                        <div class="card-body">

                            <div class="row">
                                <div class="col">
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    <div class="form-group">
                                        @Html.Label("Nombre(s)", htmlAttributes: new { @class = "control-label col" })
                                        <div class="col">
                                            @Html.Editor("nombre_cliente", new { htmlAttributes = new { @class = "form-control", @Value = cliente.nombre_cliente } })

                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    <div class="form-group">
                                        @Html.Label("Apellido paterno", htmlAttributes: new { @class = "control-label col" })
                                        <div class="col">
                                            @Html.Editor("apellido_p", new { htmlAttributes = new { @class = "form-control", @Value = cliente.apellido_p } })
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    <div class="form-group">
                                        @Html.Label("Apellido materno", htmlAttributes: new { @class = "control-label col" })
                                        <div class="col">
                                            @Html.Editor("apellido_m", new { htmlAttributes = new { @class = "form-control", @Value = cliente.apellido_m } })

                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col">
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    <div class="form-group">
                                        @Html.Label("Fecha de nacimiento", htmlAttributes: new { @class = "control-label col" })
                                        <div class="col">
                                            @Html.Editor("fecha_nacimiento", new { htmlAttributes = new { @class = "form-control", @Value = fecha_nac } })

                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    <div class="form-group">
                                        @Html.Label("Nombre de usuario", htmlAttributes: new { @class = "control-label col" })
                                        <div class="col">
                                            @Html.Editor("nombre_usuario", new { htmlAttributes = new { @class = "form-control", @Value = cliente.nombre_usuario } })

                                        </div>

                                    </div>
                                </div>

                                <div class="col">
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    <div class="form-group">
                                        @Html.Label("Telefono", htmlAttributes: new { @class = "control-label col" })
                                        <div class="col">
                                            @Html.Editor("telefono", new { htmlAttributes = new { @class = "form-control", @Value = cliente.telefono } })

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <br />
                    </div>
                    <div class="card">
                        <h5 class="card-header text-white" style="background-color: rgb(33, 43, 75)">Dirección</h5>
                        <div class="card-body">

                            <div class="row">
                                <div class="col">
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    <div class="form-group">
                                        <div class="col">
                                            @Html.Label("País")
                                            @Html.Editor("pais", new { htmlAttributes = new { @class = "form-control form-control" } })
                                            @Html.ValidationMessage("pais", "", new { @class = "text-danger" })

                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    <div class="form-group">
                                        <div class="col">
                                            @Html.Label("Estado")
                                            @Html.Editor("estado", new { htmlAttributes = new { @class = "form-control form-control" } })
                                            @Html.ValidationMessage("estado", "", new { @class = "text-danger" })

                                        </div>
                                    </div>
                                </div>

                                <div class="col">
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    <div class="form-group">
                                        <div class="col">
                                            @Html.Label("Municipio")
                                            @Html.Editor("municipio", new { htmlAttributes = new { @class = "form-control form-control" } })
                                            @Html.ValidationMessage("municipio", "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col">
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    <div class="form-group">
                                        @Html.Label("Ciudad")
                                        @Html.Editor("ciudad", new { htmlAttributes = new { @class = "form-control form-control" } })
                                        @Html.ValidationMessage("ciudad", "", new { @class = "text-danger" })

                                    </div>
                                </div>
                                <div class="col">
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    <div class="form-group">
                                        <div class="col">
                                            @Html.Label("Calle externa")
                                            @Html.Editor("calle_externa", new { htmlAttributes = new { @class = "form-control form-control" } })
                                            @Html.ValidationMessage("calle_externa", "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    <div class="form-group">
                                        <div class="col">
                                            @Html.Label("No. Calle externa")
                                            @Html.Editor("num_calle_externa", new { htmlAttributes = new { @class = "form-control form-control" } })
                                            @Html.ValidationMessage("num_calle_externa", "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">

                                <div class="col">
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    <div class="form-group">
                                        <div class="col">
                                            @Html.Label("Calle interna")
                                            @Html.Editor("calle_interna", new { htmlAttributes = new { @class = "form-control form-control" } })
                                            @Html.ValidationMessage("calle_interna", "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    <div class="form-group">
                                        <div class="col">
                                            @Html.Label("No. Calle interna")
                                            @Html.Editor("num_calle_interna", new { htmlAttributes = new { @class = "form-control form-control" } })
                                            @Html.ValidationMessage("num_calle_interna", "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    <div class="form-group">
                                        <div class="col">

                                            @Html.Label("Código postal")
                                            @Html.Editor("codigo_postal", new { htmlAttributes = new { @class = "form-control form-control" } })
                                            @Html.ValidationMessage("codigo_postal", "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">

                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="form-group">
                                    <div class="col">

                                        @Html.Label("Referecia 1")
                                        @Html.Editor("ref1", new { htmlAttributes = new { @class = "form-control form-control" } })
                                        @Html.ValidationMessage("ref1", "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="form-group">
                                    <div class="col">

                                        @Html.Label("Referencia 2")
                                        @Html.Editor("ref2", new { htmlAttributes = new { @class = "form-control form-control" } })
                                        @Html.ValidationMessage("ref2", "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <br />
                    <div class="row">

                        <div class="form-group col-12">
                            <div class="col-md-offset-2 col-md-12" align="right">

                                <input type="submit" value="Guardar" class="btn btn-primary" />
                            </div>
                        </div>
                    </div>
                }

            }
            else
            {
                <p class="card-text">
                    <dl class="row">
                        <dt class="col-sm-3">Dirección de entrega: </dt>
                        <dd class="col-sm-9">@direccionCliente</dd>
                        <dt class="col-sm-3"> Para: </dt>
                        <dd id="clis" class="col-sm-9">@(cliente.nombre_cliente + " " + cliente.apellido_p + " " + cliente.apellido_m)</dd>
                    </dl>
                </p>
                <!--        <a href="@Url.Action("EnviarADireccion", "Direccions", null)" class="btn btn-primary">Enviar a otra dirección</a>-->
            }
        }


        <!-- <a href="@Url.Action("CrearOrden", "Direccions", null)">Editar</a>-->


    </div>
</div>

<br />
<!--
    <p>
    <button id="btnOP" class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        Button with data-target
    </button>
</p>
<script>

    document.getElementById("clis").innerHTML = "Yop";
</script>
<div class="collapse" id="collapseExample">
    <div class="card card-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson
        ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
    </div>
</div>
-->

<div class="card">
    <div class="card-header">
        <h2> Envios</h2>
    </div>
    <div class="card-body">
        <p>
            Si compraste más de 1 articulo es posible que llegen en distintas fecha y envios
        </p>
        <p class="card-text">

            <table class="table table-bordered table-striped">
                <thead>
                    <tr class="bg-secondary text-light">
                        <th>Estimado para el @System.DateTime.Now.AddDays(3).ToShortDateString()</th>
                        <th></th>
                    </tr>
                </thead>
                @foreach (Item item in (List<Item>)Session["cart"])
                {
                    <tr>
                        <td>
                            <dl class="row">
                                <dt class="col-sm-3">
                                    <img class="img-responsive" src="~/Content/Imagenes/Productos/@item.Producto.imagen_producto" width="120" />
                                </dt>
                                <dd class="col-sm-9">
                                    <h6> @item.Producto.nombre_producto</h6>
                                    <h6> Número de piezas: @item.Cantidad </h6>
                                </dd>
                            </dl>
                        </td>
                        <td>$@item.Producto.precio</td>
                    </tr>
                }
            </table>
            <br />

        </p>
    </div>
</div>
<br />

<div class=" mx-auto">

    @{
        List<Item> cart = (List<Item>)Session["cart"];
        var total = cart.Sum(item => item.Producto.precio * item.Cantidad);
    }
    <br />

    <div class="card text-white bg-secondary mb-9 mx-auto" style="max-width: 22em;">
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-4"> Subtotal: </dt>
                <dd class="col-sm-8">$@total</dd>
                <dt class="col-sm-4">Costo de envio: </dt>
                <dd class="col-sm-8">$0.00 (Envio gratis)</dd>

            </dl>

            <hr />
            <dl class="row">
                <dt class="col-sm-4">Total: </dt>
                <dd class="col-sm-8">$@total</dd>
            </dl>
            <p>Los precios ya incluyen IVA</p>

        </div>
    </div>
    <br />
   

            <div class="card">
                <div class="card-header">
                    <h2>  Método de pago</h2>
                </div>
                <div class="card-body">


                    <p>
                        Selccione el método de pago más conveniente para usted
                    </p>
                  
                    <div class="list-group">
                        <a href="@Url.Action("PagarCon","MetodoPago",new { tipoPago="PayPal"})" class="list-group-item list-group-item-action flex-column align-items-start active">
                            <p class="text-center">
                                <img src="~/Content/Imagenes/Tarjetas/paypal.png" class="img-responsive img-rounded" width="160" />

                            </p>
                        </a>
                        <a href="@Url.Action("PagarCon","MetodoPago",new { tipoPago="Tarjeta"})" class="list-group-item list-group-item-action flex-column align-items-start active">
                            <p class="text-center">
                                <img src="~/Content/Imagenes/Tarjetas/tarjCred.jpg" class="img-responsive img-rounded" width="200" />

                            </p>
                        </a>

                    </div>
                 

                </div>


            </div>

    </div>
<br />
