@model TiendaMotores.Models.Cliente

@{
    ViewBag.Title = "Create";
    if (Session["rol"].ToString() == "Administrador")
    {
        Layout = "~/Views/Shared/_LayoutAdministracion.cshtml";
    }
    else if (Session["rol"].ToString().Equals("Reclutador"))
    {
        Layout = "~/Views/Shared/_LayoutRecursosHumanos.cshtml";

    }
    else if (Session["rol"].ToString().Equals("Empaquetador"))
    {
        Layout = "~/Views/Shared/_LayoutPaqueteria.cshtml";
    }
    else if (Session["rol"].ToString().Equals("Enviador"))
    {
        Layout = "~/Views/Shared/_LayoutEnvios.cshtml";
    }
    else if (Session["rol"].ToString().Equals("Comprador"))
    {
        Layout = "~/Views/Shared/_LayoutCompras.cshtml";

    }
    else if (Session["rol"].ToString().Equals("Vendedor"))
    {
        Layout = "~/Views/Shared/_LayoutVentas.cshtml";
    }
    else if (Session["rol"].ToString().Equals("Productor"))
    {
        Layout = "~/Views/Shared/_LayoutProduccion.cshtml";
    }
    else if (Session["rol"].ToString().Equals("Cliente"))
    {
        Layout = "~/Views/Shared/_LayoutCliente.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}

<h2>Añadir cliente</h2>

@*using (Html.BeginForm())*@
@using (Html.BeginForm("Create", "Empleado", FormMethod.Post))
{
    <h4>Empleado</h4>
    <hr />

    @Html.AntiForgeryToken()
    <div class="row">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.nombre_cliente, htmlAttributes: new { @class = "control-label col" })
            <div class="col">
                @Html.EditorFor(model => model.nombre_cliente, new { htmlAttributes = new { @class = "form-control" } })

                @Html.ValidationMessageFor(model => model.nombre_cliente, "", new { @class = "text-danger" })
            </div>
        </div>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.apellido_p, htmlAttributes: new { @class = "control-label col" })
            <div class="col">
                @Html.EditorFor(model => model.apellido_p, new { htmlAttributes = new { @class = "form-control" } })

                @Html.ValidationMessageFor(model => model.apellido_p, "", new { @class = "text-danger" })
            </div>
        </div>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.apellido_m, htmlAttributes: new { @class = "control-label col" })
            <div class="col">
                @Html.EditorFor(model => model.apellido_m, new { htmlAttributes = new { @class = "form-control" } })

                @Html.ValidationMessageFor(model => model.apellido_m, "", new { @class = "text-danger" })
            </div>
        </div>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.fecha_nacimiento, htmlAttributes: new { @class = "control-label col" })
            <div class="col">
                @Html.EditorFor(model => model.fecha_nacimiento, new { htmlAttributes = new { @class = "form-control" } })

                @Html.ValidationMessageFor(model => model.fecha_nacimiento, "", new { @class = "text-danger" })
            </div>
        </div>


    </div>
    <div class="row">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.telefono, htmlAttributes: new { @class = "control-label col" })
            <div class="col">
                @Html.EditorFor(model => model.telefono, new { htmlAttributes = new { @class = "form-control" } })

                @Html.ValidationMessageFor(model => model.telefono, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="row">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.nombre_usuario, htmlAttributes: new { @class = "control-label col" })
            <div class="col">
                @Html.EditorFor(model => model.nombre_usuario, new { htmlAttributes = new { @class = "form-control" } })

                @Html.ValidationMessageFor(model => model.nombre_usuario, "", new { @class = "text-danger" })
            </div>
        </div>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.contrasenia, htmlAttributes: new { @class = "control-label col" })
            <div class="col">
                @Html.PasswordFor(model => model.contrasenia, new { htmlAttributes = new { @class = "form-control" } })

                @Html.ValidationMessageFor(model => model.contrasenia, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="row">


    </div>
    <div class="row">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col">
                <div class="row">
                    @Html.Label("País")
                    @Html.Editor("pais", new { htmlAttributes = new { @class = "form-control form-control" } })
                    @Html.ValidationMessage("pais", "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.Label("Estado")
            <div class="col">
                @Html.DropDownList("estado",
         new List<SelectListItem> {
                new SelectListItem{ Value="Aguascalientes", Text="Aguascalientes"},
                new SelectListItem{ Value="Baja california", Text="Baja california"},
                new SelectListItem{ Value="Baja california sur", Text="Baja california sur"},
                new SelectListItem{ Value="Campeche", Text="Campeche"},
                new SelectListItem{ Value="Chiapas", Text="Chiapas"},
                new SelectListItem{ Value="Chihuahua", Text="Chihuahua"},
                new SelectListItem{ Value="Coahuila", Text="Coahuila"},
                new SelectListItem{ Value="Colima", Text="Colima"},
                new SelectListItem{ Value="Ciudad de México", Text="Ciudad de México"},
                new SelectListItem{ Value="Durango", Text="Durango"},
                new SelectListItem{ Value="Estado de México", Text="Estado de México"},
                new SelectListItem{ Value="Guanajuato", Text="Guanajuato"},
                new SelectListItem{ Value="Guerrero", Text="Guerrero"},
                new SelectListItem{ Value="Hidalgo", Text="Hidalgo"},
                new SelectListItem{ Value="Jalisco", Text="Jalisco"},
                new SelectListItem{ Value="Michioacan", Text="Michioacan"},
                new SelectListItem{ Value="Morelos", Text="Morelos"},
                new SelectListItem{ Value="Nayarit", Text="Nayarit"},
                new SelectListItem{ Value="Nuevo León", Text="Nuevo León"},
                new SelectListItem{ Value="Oaxaca", Text="Oaxaca"},
                new SelectListItem{ Value="Puebla", Text="Puebla"},
                new SelectListItem{ Value="Querétaro", Text="Querétaro"},
                new SelectListItem{ Value="Quintana Roo", Text="Quintana Roo"},
                new SelectListItem{ Value="San Luis Potosí", Text="San Luis Potosí"},
                new SelectListItem{ Value="Sinaloa", Text="Sinaloa"},
                new SelectListItem{ Value="Sonora", Text="Sonora"},
                new SelectListItem{ Value="Tabasco", Text="Tabasco"},
                new SelectListItem{ Value="Tamaluipas", Text="Tamaluipas"},
                new SelectListItem{ Value="Tlaxcala", Text="Tlaxcala"},
                new SelectListItem{ Value="Veracruz", Text="Veracruz"},
                new SelectListItem{ Value="Coahuila", Text="Coahuila"},
                new SelectListItem{ Value="Yucatán", Text="Yucatán"},
                new SelectListItem{ Value="Zacatecas", Text="Zacatecas"}
         }, new { @Class = "miselect" })

            </div>
        </div>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col">
                @Html.Label("Municipio")
                @Html.Editor("municipio", new { htmlAttributes = new { @class = "form-control form-control" } })
                @Html.ValidationMessage("municipio", "", new { @class = "text-danger" })
            </div>
        </div>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col">
                @Html.Label("Ciudad")
                @Html.Editor("ciudad", new { htmlAttributes = new { @class = "form-control form-control" } })
                @Html.ValidationMessage("ciudad", "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="row">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col">
                @Html.Label("Calle externa")
                @Html.Editor("calle_externa", new { htmlAttributes = new { @class = "form-control form-control" } })
                @Html.ValidationMessage("calle_externa", "", new { @class = "text-danger" })
            </div>
        </div>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col">
                @Html.Label("No. Calle externa")
                @Html.Editor("num_calle_externa", new { htmlAttributes = new { @class = "form-control form-control" } })
                @Html.ValidationMessage("num_calle_externa", "", new { @class = "text-danger" })
            </div>
        </div>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col">
                @Html.Label("Calle interna")
                @Html.Editor("calle_interna", new { htmlAttributes = new { @class = "form-control form-control" } })
                @Html.ValidationMessage("calle_interna", "", new { @class = "text-danger" })
            </div>
        </div>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col">
                @Html.Label("No. Calle interna")
                @Html.Editor("num_calle_interna", new { htmlAttributes = new { @class = "form-control form-control" } })
                @Html.ValidationMessage("num_calle_interna", "", new { @class = "text-danger" })
            </div>
        </div>

    </div>
    <div class="row">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col">

                @Html.Label("Código postal")
                @Html.Editor("codigo_postal", new { htmlAttributes = new { @class = "form-control form-control" } })
                @Html.ValidationMessage("codigo_postal", "", new { @class = "text-danger" })
            </div>
        </div>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col">

                @Html.Label("Referecia 1")
                @Html.Editor("ref1", new { htmlAttributes = new { @class = "form-control form-control" } })
                @Html.ValidationMessage("ref1", "", new { @class = "text-danger" })
            </div>
        </div>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col">

                @Html.Label("Referencia 2")
                @Html.Editor("ref2", new { htmlAttributes = new { @class = "form-control form-control" } })
                @Html.ValidationMessage("ref2", "", new { @class = "text-danger" })
            </div>
        </div>

    </div>

    <div class="row">

        <div class="form-group col-12">
            <div class="col-md-offset-2 col-md-12" align="right">

                <input type="submit" value="Añadir" class="btn btn-success" />
            </div>
        </div>
    </div>
}