@model TiendaMotores.Models.Cliente

@{
    ViewBag.Title = "Delete";
}
<h2>Clientes</h2>
<h3>¿Seguro que lo quieres eliminar?</h3>
<div>
    <h4>Cliente</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre_cliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre_cliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.apellido_p)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.apellido_p)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.apellido_m)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.apellido_m)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.telefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nombre_usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre_usuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.contrasenia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.contrasenia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Direccion.estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Direccion.estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tarjeta.numTarjeta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tarjeta.numTarjeta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usuario.nombre_usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuario.nombre_usuario)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">

            <a class="btn btn-outline-secondary" href="@Url.Action("Index")">
                <i>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z" />
                    </svg>
                </i>
                Volver a la lista
            </a>
            <input type="submit" value="Delete" class="btn btn-danger" />
        </div>
    }
</div>
